
.container {
  display: flex; 
  align-items: center;
  border: 5px solid blue;
  height: 100vh;
}

.harborDisplay {
  display: flex;
  align-items: center;
  border: 5px solid red;
  max-width: 75vh;
  padding: 10px;
  flex-wrap: wrap;
}

.displays {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
}

.personalDisplay {
  display: flex;
  padding: 10px;
  align-items: center;
  border: 5px solid green;
  max-width: 75vh;
  flex-wrap: wrap;
}

.card {
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
  width: 11vh;
  height: 17vh;
}

.deck {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid purple;
  height: 100vh;
  width: 30vh;
}

.deck-top {
  border: 1px solid black;
  border-radius: 10px;
  width: 11vh;
  height: 17vh;
}
